
@font-face {
    font-family: sansationBold;
    src: url(Sansation_Bold.ttf);
 }
 @font-face {
    font-family: sansation;
    src: url(Montserrat-Regular.ttf);
 }


@font-face {
    font-family: carmela;
    src: url(Carmela.ttf);
}


#aboutTitle{
    font-family: carmela;
    font-size: 800%;
    position: absolute;
    top: 15%;
    left: 15%;
    z-index: 3;
}

#aboutText{
  font-family: sansation;
  font-size: 120%;
  position: absolute;
  top: 15%;
  left: 50%;
  z-index: 3;
}


@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg); /* Start rotation from 0 degrees */
  }
  
  50% {
    transform: translate(-50%, -50%) scale(1) rotate(5deg); /* Scale and rotate at 50% */
  }
  
  to {
    transform: translate(-50%, -50%) rotate(360deg); /* Rotate to 360 degrees */
  }
}

#blob {
background-color: white;
height: 34vmax;
aspect-ratio: 1;
position: fixed; /* Use fixed positioning */
top: 50%;
left: 50%;
transform: translate(-50%, -50%); /* Center the blob */
border-radius: 50%;
background: linear-gradient(to right, rgb(255, 255, 255), #2da0ff);
animation: rotate 20s infinite;
opacity: 0.8;
}



#blur {
height: 100vh; /* Set height to 100vh for full viewport height */
width: 100vw; /* Set width to 100vw for full viewport width */
position: fixed; /* Use fixed positioning instead of absolute */
top: 0; /* Position at the top */
left: 0; /* Position at the left */
z-index: 2;
backdrop-filter: blur(12vmax);
}

#back{
  font-family: carmela;
  font-size: 500%;
  position: absolute;
  top: 8%;
  left: 16%;
  z-index: 3;
  text-decoration: none;
  color: white;
}




body {
    background-color: #15171A;
    color:white
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #333;
    width: 100%;
    font-family: sansation, Geneva, Verdana, Tahoma, sans-serif;
    z-index: 3;
}

.footerText{
    padding: 0 10px;
}

#portfolioLink{
    color: green;
}
/* Reusing the "menu item" class because I couldn't be bothered to change it */
.menu-item {
    position: absolute;
    z-index: 3;
  }
  
  #menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -25%;
  }
  
  #menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -50%;
  }
  
  #menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -75%;
  }
  
  #menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -100%;
  }
  
  #menu[data-active-index="0"] > #menu-background-image {
    background-position: center 45%;
  }
  
  #menu[data-active-index="1"] > #menu-background-image {
    background-position: center 50%;
  }
  
  #menu[data-active-index="2"] > #menu-background-image {
    background-position: center 55%;
  }
  
  #menu[data-active-index="3"] > #menu-background-image {
    background-position: center 60%;
  }
  
  #menu-background-pattern {
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.1) 9%, 
      transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    height: 100vh;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease, 
      background-size 800ms ease,
      background-position 800ms ease;
    width: 100vw;
    z-index: 2;
  }
  
  #menu-background-image {
    background-position: center 40%;
    background-size: 110vmax;
    height: 100%;
    left: 0px;  
    opacity: 0.15;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease,
      background-size 800ms ease,
      background-position 800ms ease;
    width: 100%;
    z-index: 0;
  }
  
  .menu-item:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
  }
  
  .menu-item:hover ~ #menu-background-image {
    background-size: 100vmax;
    opacity: 0.1;
  }
  
  .menu-item:hover > .menu-item {
    opacity: 0.3;
  }
  
  .menu-item:hover > .menu-item:hover {
    opacity: 1; 
  }
  
  :root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
  }
  
  :root {  
    --green: rgb(42, 252, 152);
    --blue: rgb(41, 121, 255);
  }
  
  @keyframes float {
    from, to {
      transform: translateY(-0%);
    }
    
    50% {    
      transform: translateY(-3%);
    }
  }
  
  @keyframes background-pan {
    from {
      background-position: 1000% center;
    }
    
    to {
      background-position: 0% center;
    }
  }
  
  body {
    height: 100vh;
    background-color: #15171A;
    margin: 0rem;
    overflow: hidden;
    display: grid;
    place-items: center;
    
  }
  
  .line {
    display: flex;
    justify-content: space-between;
    z-index: 4;
  }
  
  .word {
    color: white;
    font-size: 400%;
    font-family: carmela, sans-serif;
    margin: 0rem;
    left: 25%;
    text-transform: uppercase;
    transition: opacity 250ms ease;
    z-index: 4;
    top: 25%;

  }
  
  a {
    text-decoration: none;
  }
  
  #text:has(.fancy:hover) .word:not(.fancy:hover) {
    opacity: 0.2;
  }
  
  .fancy span {
    display: inline-block;
  }
  
  .fancy > .outer {
    transition: transform 350ms ease;
  }
  
  .fancy:hover > .outer {
    transition-duration: 800ms;
  }
  
  .fancy:hover > .outer > .inner {
    animation: float 5s ease infinite;
  }
  
  .fancy:hover > .outer > .inner > .letter {
    background: linear-gradient(
      to right,
      var(--blue),
      var(--green),
      var(--blue)
    );
    background-size: 1000%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: background-pan 150s linear infinite;
  }
  
  .fancy:hover > .outer:nth-child(1) {
    transform: translate(-80%, 60%) rotate(8deg);
  }
  
  .fancy:hover > .outer:nth-child(2) {
    transform: translate(-40%, 20%) rotate(4deg);
  }
  
  .fancy:hover > .outer:nth-child(3) {
    transform: translate(-10%, 60%) rotate(-6deg);
  }
  
  .fancy:hover > .outer:nth-child(4) {
    transform: translate(0%, 8%) rotate(-8deg);
  }
  
  .fancy:hover > .outer:nth-child(5) {
    transform: translate(0%, -20%) rotate(5deg);
  }
  
  .fancy:hover > .outer:nth-child(6) {
    transform: translate(0%, 20%) rotate(-3deg);
  }
  
  .fancy:hover > .outer:nth-child(7) {
    transform: translate(0%, -40%) rotate(-5deg);
  }
  
  .fancy:hover > .outer:nth-child(8) {
    transform: translate(0%, 15%) rotate(10deg);
  }
  
  .fancy:hover > .outer:nth-child(9) {
    transform: translate(0%, -50%) rotate(8deg);
  }
  
  .fancy:hover > .outer:nth-child(10) {
    transform: translate(0%, 15%) rotate(-6deg);
  }
  
  .fancy:hover > .outer:nth-child(11) {
    transform: translate(50%, -10%) rotate(-3deg);
  }
  
  .fancy:hover > .outer:nth-child(12) {
    transform: translate(120%, -30%) rotate(-10deg);
  }
