
@font-face {
    font-family: sansationBold;
    src: url(Sansation_Bold.ttf);
 }
 @font-face {
    font-family: sansation;
    src: url(Montserrat-Regular.ttf);
 }
 @font-face {
    font-family: carmela;
    src: url(Carmela.ttf);
 }


#pageNotifier{
    color: white;
    font-size: 800%;
    font-family: carmela, 'Verdana', 'Tahoma', 'Trebuchet MS', sans-serif;
    position: absolute;
    text-align: center;
    top: 15%;
    left: 15%;
    z-index: 3;
}
@keyframes rotate {
    from {
      transform: translate(-50%, -50%) rotate(0deg); /* Start rotation from 0 degrees */
    }
    
    50% {
      transform: translate(-50%, -50%) scale(1) rotate(5deg); /* Scale and rotate at 50% */
    }
    
    to {
      transform: translate(-50%, -50%) rotate(360deg); /* Rotate to 360 degrees */
    }
  }
  
  #blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: fixed; /* Use fixed positioning */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the blob */
  border-radius: 50%;
  background: linear-gradient(to right, rgb(255, 255, 255), #2da0ff);
  animation: rotate 20s infinite;
  opacity: 0.8;
  }
  
  #aboutText{
    font-family: sansation;
    font-size: 120%;
    position: absolute;
    top: 30%;
    left: 15%;
    z-index: 3;
    word-spacing: 50%;
  }
  
  #blur {
  height: 100vh; /* Set height to 100vh for full viewport height */
  width: 100vw; /* Set width to 100vw for full viewport width */
  position: fixed; /* Use fixed positioning instead of absolute */
  top: 0; /* Position at the top */
  left: 0; /* Position at the left */
  z-index: 2;
  backdrop-filter: blur(12vmax);
  }
#titleBar{
    overflow: hidden;
    background-color: #333;
    padding: 0;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
}

.titleButton {
    font-family: sansation, 'Verdana', 'Geneva', 'Tahoma', 'Trebuchet MS', sans-serif;
    font-size: 25px;
    background-color: #333;
    border: transparent;
    color: white;
    transition-duration: 0.25s;
    padding: 14px 16px; 
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}
.menu-item {
    position: absolute;
    z-index: 3;
  }
  
  #menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -25%;
  }
  
  #menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -50%;
  }
  
  #menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -75%;
  }
  
  #menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -100%;
  }
  
  #menu[data-active-index="0"] > #menu-background-image {
    background-position: center 45%;
  }
  
  #menu[data-active-index="1"] > #menu-background-image {
    background-position: center 50%;
  }
  
  #menu[data-active-index="2"] > #menu-background-image {
    background-position: center 55%;
  }
  
  #menu[data-active-index="3"] > #menu-background-image {
    background-position: center 60%;
  }
  
  #menu-background-pattern {
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.1) 9%, 
      transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    height: 100vh;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease, 
      background-size 800ms ease,
      background-position 800ms ease;
    width: 100vw;
    z-index: 2;
  }
  
  #menu-background-image {
    background-position: center 40%;
    background-size: 110vmax;
    height: 100%;
    left: 0px;  
    opacity: 0.15;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease,
      background-size 800ms ease,
      background-position 800ms ease;
    width: 100%;
    z-index: 0;
  }
  
  .menu-item:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
  }
  
  .menu-item:hover ~ #menu-background-image {
    background-size: 100vmax;
    opacity: 0.1;
  }
  
  .menu-item:hover > .menu-item {
    opacity: 0.3;
  }
  
  .menu-item:hover > .menu-item:hover {
    opacity: 1; 
  }
  
  :root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
  }
  
  :root {  
    --green: rgb(42, 252, 152);
    --blue: rgb(41, 121, 255);
  }
  
  @keyframes float {
    from, to {
      transform: translateY(-0%);
    }
    
    50% {    
      transform: translateY(-3%);
    }
  }
  
  @keyframes background-pan {
    from {
      background-position: 1000% center;
    }
    
    to {
      background-position: 0% center;
    }
  }


.titleButton:hover{
    background-image: linear-gradient(135deg, #48ac3a 40%, #3de22e);
}



  body {
    background-color: #15171A;
    color:white
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #333;
    width: 100%;
    font-family: sansation, Geneva, Verdana, Tahoma, sans-serif;
    z-index: 3;
}

.footerText{
    padding: 0 10px;
}

#portfolioLink{
    color: green;
}
#back{
    font-family: carmela;
    font-size: 500%;
    position: absolute;
    top: 8%;
    left: 15%;
    z-index: 3;
    text-decoration: none;
    color: white;
  }
  